@{
    ViewData["Title"] = "Home Page";
}
@model Survey

<div class="text-center">
    
    <form action="/process" method="post">
     <label asp-for="Name">Name</label> 
        <input asp-for="Name" > 
        <span asp-validation-for="Name"></span>
        <label asp-for="Location">Dojo Location</label> 
        <select asp-for="Location">
            <option value="">Select Location</option>
            <option>San Jose</option>
            <option>San Diego</option>
            <option>New York</option>
        </select>
        <span asp-validation-for="Location"></span>
        <label asp-for="Language">Favorite Language</label> 
        <select asp-for="Language">
            <option value="" selected>Select Language</option>
            <option>C#</option>
            <option>Java</option>
            <option>Javascript</option>
        </select>
        <span asp-validation-for="Language"></span>
        <label asp-for="Comment">Comment(optional)</label> 
         <textarea asp-for="Comment" rows="4"></textarea> 
          <span asp-validation-for="Comment"></span>
    
    <input type="submit" value="Submit"/>
    </form>
</div>
